$primary: #3f51b5;
$secondary: #03a9f4;
$accent: #9c27b0;
$error: #f44336;
$warning: #cddc39;
$info: #8bc34a;
$success: #4caf50;
$colors: ('red': #a00);
$colors: (
            "0":#42A5F5,
            "1":#64B5F6,
            "2": #1E88E5, 
            "3":  #1976D2,
            "4": linear-gradient(to right, #B993D6 0%, #8CA6DB 51%, #B993D6 100%),
            "5": linear-gradient(to right, #C9FFBF 0%, #FFAFBD 51%, #C9FFBF 100%),
            "6": linear-gradient(to right, #83a4d4 0%, #b6fbff 51%, #83a4d4 100%),
            "7":  linear-gradient(to right, #FEAC5E 0%, #C779D0 51%, #FEAC5E 100%),
            "8":linear-gradient(to right, #D1913C 0%, #FFD194 51%, #D1913C 100%),
            "9": linear-gradient(to right, #ee9ca7 0%, #ffdde1 51%, #ee9ca7 100%),
            "10": linear-gradient(to right, #EECDA3 0%, #EF629F 51%, #EECDA3 100%)
            ); 
$common:  radial-gradient(circle, rgba(201,63,251,1) 0%, rgba(70,153,252,1) 100%); 


div[class*="card-bg"] {
     background-color: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
     transition: 0.5s !important;
     background-size: 200% auto !important;
     &:hover { background-position: right center; }
}


@for $i from 0 through 10 {
    .card-bg-#{$i} {
      background-color: map-get($colors, #{$i}) !important; 
      &:hover {
         background-position: right center !important; 
      }
    }

    .card-bg-small-#{$i} {
        background-color: map-get($colors, #{$i}) !important; 
        height: 100px !important;
        overflow: auto !important;
        &:hover {
           background-position: right center !important; 
        }
      }

      .ch-100 {
        max-height: 180px !important;
        height: 180px !important;
        overflow: auto !important;
      }

      .ch-50 {
        height: 100px !important;
        overflow: auto !important;
      }
  }

  .header {
    background-color: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%) !important;
  }

  .footer {
    background-color: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%) !important;
  }

  .text-deco-none {
    text-decoration: none !important;
  }
  
  .br-5 {
    border-radius: 5px;
  }

  .text-color {
    color: rgba(0, 0, 0, 0.54);
  }

  .dotted-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }

  .v-item-group.v-bottom-navigation {
    align-items: center !important;
  }
  .v-item-group.v-bottom-navigation--grow .v-btn {
    height: 100% !important
  }
